<app-breadcrumbs title="{{ 'MERCHANTS.MERCHANT_DETAILS.text1' | translate }}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div *ngIf="access.permissions['Merchant Details'] && access.permissions['Merchant Details'].includes('R')">
    <div class="row">
        <div class="col-lg text-right">
            <button class="btn btn-clear btn-sm back-button mb-2" (click)="backToMerchantList()">
                <i class="ri-arrow-left-line fs-15 text-primary"></i> 
                <label class="go-back-label text-primary">{{ 'MERCHANTS.MERCHANT_DETAILS.text9' | translate }}</label>
            </button>
        </div>
    </div>
    <div class="user-profile p-4">
        <div class="row">
            <div class="col">
                <div class="fs-24 mt-2">{{ merchant_details.MerchantName ? merchant_details.MerchantName : '-' }}</div>
            </div>
            <div class="col text-end">
                <div class="row">
                    <div class="col">
                        <div class="mt-2">
                            <div class="fs-12 text-gray">{{ 'MERCHANTS.MERCHANT_DETAILS.text2' | translate }}</div>
                            <div class="fs-20 fw-800">{{ merchant_details.Balance ? (merchant_details.Balance | currency) : '$ 0.00' }}</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mt-2">
                            <div class="fs-12 text-gray">{{ 'MERCHANTS.MERCHANT_DETAILS.text3' | translate }}</div>
                            <div class="fs-20 fw-800">{{ merchant_details.AccountNumber ? merchant_details.AccountNumber : '-' }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-border mt-3"></div>
    
        <div class="row mt-3 text-dark">
            <div class="col">
                <div class="fs-12 text-gray">{{ 'MERCHANTS.MERCHANT_DETAILS.text4' | translate }}</div>
                <div class="fs-16">{{ merchant_details.FirstName ? merchant_details.FirstName : '-' }} {{ merchant_details.LastName ? merchant_details.LastName : '-' }}</div>
            </div>
            <div class="col">
                <div class="fs-12 text-gray">{{ 'MERCHANTS.MERCHANT_DETAILS.text5' | translate }}</div>
                <div class="fs-16">{{ merchant_details.Email ? merchant_details.Email : '-' }}</div>
            </div>
            <div class="col">
                <div class="fs-12 text-gray">{{ 'MERCHANTS.MERCHANT_DETAILS.text6' | translate }}</div>
                <div class="fs-16">{{ merchant_details.MobileNumber ? merchant_details.MobileNumber : '-' }}</div>
            </div>
            <div class="col">
                <div class="fs-12 text-gray">{{ 'MERCHANTS.MERCHANT_DETAILS.text7' | translate }}</div>
                <div class="fs-16 {{ getColor(merchant_details.Status) }}">{{ merchant_details.Status ? merchant_details.Status : '-' }}</div>
            </div>
            <div class="col" *ngIf="merchant_details.Status && merchant_details.Status.toLowerCase() == 'pending' && access.permissions['Merchant Details'] && access.permissions['Merchant Details'].includes('P')">
                <button type="submit" class="btn btn-primary f-right" (click)="approveMerchant()">{{ 'MERCHANTS.MERCHANT_DETAILS.text8' | translate }}</button>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="card">  
                <div class="card-body">
                    <div id="customerList">
                        <div class="row g-4 mb-3">
                            <div class="col-sm-3">
                                <div class="d-flex gap-1" *ngIf="transaction_selectValue.length > 0">
                                    <ng-select placeholder="{{ 'OTHERS.text1' | translate }}" [items]="transaction_selectValue" bindLabel="name" [(ngModel)]="transaction_filter_column" class="w-100"></ng-select>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="search-box">
                                    <input type="text" class="form-control search w-100" placeholder="{{ 'OTHERS.text2' | translate }}..." [(ngModel)]="transaction_filter_keyword" >
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary f-right w-100" (click)="load_merchant_transactions(1)" [disabled]="!transaction_filter_keyword">{{ 'MERCHANTS.MERCHANT_DETAILS.TRANSACTION_HISTORY.text6' | translate }}</button>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-danger f-right w-100" (click)="resetTransction()">{{ 'MERCHANTS.MERCHANT_DETAILS.TRANSACTION_HISTORY.text7' | translate }}</button>
                            </div>
                        </div>
      
                        <div class="table-responsive table-card table-striped mt-3 mb-1">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="tr-section text-primary">
                                        <th class="" data-sort="tran_created">{{ 'MERCHANTS.MERCHANT_DETAILS.TRANSACTION_HISTORY.text1' | translate }}</th>
                                        <th class="" data-sort="tran_id">{{ 'MERCHANTS.MERCHANT_DETAILS.TRANSACTION_HISTORY.text2' | translate }}</th>
                                        <th class="" data-sort="transaction_type">{{ 'MERCHANTS.MERCHANT_DETAILS.TRANSACTION_HISTORY.text3' | translate }}</th>
                                        <th class="" data-sort="description">{{ 'MERCHANTS.MERCHANT_DETAILS.TRANSACTION_HISTORY.text4' | translate }}</th>
                                        <th class="" data-sort="amount">{{ 'MERCHANTS.MERCHANT_DETAILS.TRANSACTION_HISTORY.text5' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of filtered_transaction_list" [hidden]="data.key > pager.end || data.key < pager.start">
                                        <td>{{ data.tran_created }}</td>
                                        <td>{{ data.tran_ref_id }}</td>
                                        <td>{{ data.transaction_type }}</td>
                                        <td>{{ data.transaction_desc }}</td>
                                        <td class="text-right" [class]="data.color">{{ data.prefix }}{{ data.amount | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
      
                        <div class="row justify-content-md-between align-items-md-center">
                          <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                <!-- <div class="paginate-info">{{ 'OTHERS.text3' | translate }} <span>{{pager.start}}</span> {{ 'OTHERS.text4' | translate }} <span>{{pager.end}}</span> {{ 'OTHERS.text5' | translate }} <span>{{filtered_transaction_list.length}}</span> {{ 'OTHERS.text6' | translate }}</div> -->
                            </div>
                          </div>
                          <!-- Pagination -->
                          <div class="col col-sm-6">
                              <div class="text-sm-right float-sm-end listjs-pagination">
                                <div class="paginate" *ngIf="filtered_transaction_list.length!=0">
                                    <div class="paginate-pages" *ngIf="pager.pages.length > 1">
                                    <div class="paginate-page " (click)="setPage_transaction(pager.page-1, $event, 1)"><span>◄</span></div>
                                    <div class="paginate-page {{ page==pager.page ? 'current' : '' }}" (click)="setPage_transaction(page, $event, 1)" *ngFor="let page of pager.limited_page" ><span>{{page}}</span></div>
                                    <div class="paginate-page " (click)="setPage_transaction(pager.page+1, $event, 1)"><span>►</span></div>
                                    </div>
                                </div>
                              </div>
                          </div>
                          <!-- End Pagination -->
                        </div>
                    </div>
                </div><!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end col -->
      </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>