<div class="d-flex justify-content-between align-items-start p-4">
  <div class="left-header-container">
      <img src="./../../../assets/images/logo/logo-icon-only.png"/>
  </div>
  <div class="right-header-container">
      <a class="a-link text-muted px-2">Already a Member?</a>
      <button class="btn btn-primary btn-md text-dark" (click)="signIn()">Sign In</button>
  </div>
</div>
<div class="auth-page-wrapper pt-3">  
  <div class="auth-page-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6 col-xl-12">
          <div class="card mt-4">
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="text-dark fs-20">Sign Up</h5>
              </div>
              <!-- wip for the progress step bar  -->
              <form>
                <div class="mb-3">
                  <label class="form-label text-capitalize">Address</label>
                  <input class="form-control" placeholder="Street Address">
                </div>
                <div class="mb-3">
                  <input class="form-control" placeholder="Address Line 2">
                </div>
                <div class="row mb-3">
                  <div class="col-4">
                    <input class="form-control" placeholder="City">
                  </div>
                  <div class="col-4">
                    <ng-select 
                      placeholder="States" 
                      [items]="states" 
                      bindLabel="name"
                      [(ngModel)]="selectedMonth" 
                      [clearable]="false">
                    </ng-select>
                  </div>
                  <div class="col-4">
                    <input class="form-control" placeholder="Zip Code">
                   </div>
                </div>
                <div class="row mt-4 mb-3">
                  <div class="col-4">
                    <label class="form-label text-capitalize">Social Security or TIN</label>
                    <input class="form-control" placeholder="Social Security or TIN">
                  </div>
                  <div class="col-4">
                    <label class="form-label text-capitalize">Date of Birth</label>
                    <div class="d-flex gap-1">
                      <ng-select 
                        placeholder="MM" 
                        [items]="months" 
                        bindLabel="name"
                        [(ngModel)]="selectedMonth" 
                        [clearable]="false">
                      </ng-select>
                      <ng-select 
                        placeholder="DD" 
                        [items]="dates" 
                        bindLabel="name"
                        [(ngModel)]="selectedDate" 
                        [clearable]="false">
                      </ng-select>
                      <ng-select 
                        placeholder="YYYY" 
                        [items]="years" 
                        bindLabel="name"
                        [(ngModel)]="selectedYear" 
                        [clearable]="false">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </form>
              <button class="btn btn-primary btn-md pe-4 ps-4 me-2" (click)="previous()">Previous</button>
              <button class="btn btn-primary btn-md pe-4 ps-4" (click)="next()">Next</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 text-center">
        <div class="text-muted">
            <a class="text-muted text-capitalize fs-12">Terms & Conditions</a>
            <span class="text-capitalize fs-12">    |    </span>
            <a class="text-muted text-capitalize fs-12">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="right-header-container">
        <div class="row align-items-center">
            <div class="col-auto text-muted">Powered by:</div>
            <div class="col-auto">
                <img src="./../../../assets/images/logo/logo-legal-sync-dark.svg" alt="Logo"/>
            </div>
        </div>
    </div>
  </footer>
</div>

