<div id="layout-wrapper">
    <!-- set style left 0, to disable the left margin for sidebar -->
    <div id="page-topbar" style="left:0">
        <div class="layout-width">
            <div class="navbar-header">
                <span class="logo-lg">
                    <img src="assets/images/logo-dark2.svg" alt="" height="50">
                </span>
            </div>
        </div>
    </div>

        <div class="page-content">
            <div class="container-fluid">
    
                <div class="row">
                    <div class="col">
                
                        <div class="row mt-2 mrl-20p">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                
                                        <div class="row">
                                            <div class="col">
                                                <div class="fs-24 text-danger"><b>Do you want to cancel your account?</b></div>
                                            </div>
                                        </div>
                
                                        <div class="row mt-2">
                                            <div class="col">
                                                <p>
                                                    Cancelling your account is an irreversible process. Please proceed carefully.<br>
                                                    To continue with the process it is necessary that:
                                                </p>
                                            </div>
                                        </div>
                
                                        <div class="row mt-2">
                                            <div class="col">
                                                <p>
                                                    <i class="mdi mdi-information text-muted fs-16 align-middle me-1"></i> All your balances are up to date. <br>
                                                    <i class="mdi mdi-information text-muted fs-16 align-middle me-1"></i> Pay off any fixed payment plan you have.
                                                </p>
                                            </div>
                                        </div>
                
                                        <div class="row mt-3 mrl-20p">
                                            <div class="col mt-1">
                                                <button type="button" class="btn btn-danger w-100" >Cancel my Account</button>
                                            </div>
                                            <div class="col mt-1">
                                                <button type="button" class="btn btn-info w-100" >Exit</button>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                
            </div>
        </div>
</div>

<!-- 
<div id="layout-wrapper">

</div> -->

