<div class="auth-page-wrapper pt-5">

  <!-- auth page content -->
  <div class="auth-page-content">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="text-center mt-sm-5 mb-4 text-white-50">
                      <div>
                          <a href="" class="d-inline-block auth-logo">
                            <img src="assets/images/logo-dark2.svg" alt="">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end row -->

          <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6 col-xl-5">
                  <div class="card mt-4">
                      <div class="card-body p-4">
                        <div class="mt-2 p-2">
                            <h5 class="text-dark fs-20">Create New Account</h5>
                            <p class="text-muted fs-14">Merchant Information</p>
                        </div>
                          <div class="p-2 mt-n3">
                              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                                  <div class="mb-3">
                                      <label for="useremail" class="form-label">MERCHANT NAME <span class="text-danger">*</span></label>
                                      <input type="text" class="form-control"  placeholder="Merchant Name" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                      <div class="invalid-feedback">
                                          Please enter merchant name
                                      </div>
                                  </div>

                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">FIRST NAME <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control"  placeholder="First name" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    <div class="invalid-feedback">
                                        Please enter first name
                                    </div>
                                  </div>

                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">middle name (optional)</label>
                                    <input type="text" class="form-control"  placeholder="Middle name">
                                  </div>

                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">LAST NAME <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control"  placeholder="Last name" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    <div class="invalid-feedback">
                                        Please enter last name
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="useremail" class="form-label text-uppercase">birthday <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" mask="00/00/0000" placeholder="MM/DD/YEAR">
                                            <div class="invalid-feedback">
                                                Please enter birthday
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="useremail" class="form-label text-uppercase">gender <span class="text-danger">*</span></label>
                                            <select class="form-select mb-3" aria-label="Default select example">
                                                <option value="1" class="text-gray">Male</option>
                                                <option value="2" class="text-gray">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="border mt-1 mb-3 border"></div>

                                  <p class="text-muted fs-14">Merchant Address</p>

                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">Address 1<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control"  placeholder="Address 1" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    <div class="invalid-feedback">
                                        Please enter address 
                                    </div>
                                  </div>
                                  
                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">Address 2<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control"  placeholder="Address 2" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    <div class="invalid-feedback">
                                        Please enter address
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="useremail" class="form-label text-uppercase">City <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="City">
                                            <div class="invalid-feedback">
                                                Please enter birthday
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="useremail" class="form-label text-uppercase">State <span class="text-danger">*</span></label>
                                            <select class="form-select mb-3" aria-label="Default select example">
                                                <option value="1" class="text-gray"></option>
                                                <option value="2" class="text-gray"></option>
                                            </select>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-5">
                                        <div class="mb-3">
                                            <label for="useremail" class="form-label text-uppercase">ZIP <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Zip">
                                            <div class="invalid-feedback">
                                                Please enter zip
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="mb-3">
                                            <label for="useremail" class="form-label text-uppercase">Country <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Country">
                                            <div class="invalid-feedback">
                                                Please enter country
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="border mt-1 mb-3 border"></div>

                                  <p class="text-muted fs-14">Merchant Account Info</p>

                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">user name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control"  placeholder="User Name" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    <div class="invalid-feedback">
                                        Please enter user name
                                    </div>
                                  </div>

                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control"  placeholder="password" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    <div class="invalid-feedback">
                                        Please enter password
                                    </div>
                                  </div>
                                  
                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">Email <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control"  placeholder="User Name" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    <div class="invalid-feedback">
                                        Please enter email
                                    </div>
                                  </div>

                                  <div class="mb-3">
                                    <label for="useremail" class="form-label text-uppercase">mobile number <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="cleave-phone" placeholder="xxxxxxxxxx" mask="0000000000">
                                    <div class="invalid-feedback">
                                        Please enter mobile number
                                    </div>
                                  </div>

                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="auth-remember-check">
                                    <div class="text-gray fs-12" for="auth-remember-check">By signing up, you agree to our <span class="text-primary">privacy policy, user terms</span> and <span class="text-primary">merchant agreement</span> .</div>
                                  </div>

                                  <div class="mt-4">
                                    <button class="btn btn-primary btn-lg w-100" type="submit">Submit</button>
                                  </div>
                              </form>

                          </div>
                      </div>
                      <!-- end card body -->
                  </div>
                  <!-- end card -->

              </div>
          </div>
          <!-- end row -->
      </div>
      <!-- end container -->
  </div>
  <!-- end auth page content -->

  <!-- footer -->
  <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->
