<app-breadcrumbs title="{{ 'FEE_CONFIGURATION.text1' | translate }}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row mb-2 mt-3">
    <div class="col-lg-12 fw-bold fs-20">{{ 'FEE_CONFIGURATION.text1' | translate }}</div>
</div>
<div class="row" *ngIf="access.permissions['Fee Configuration'] && access.permissions['Fee Configuration'].includes('R')">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
              <div class="mt-3">
                  <div class="row g-4 mb-3">
                      <div class="col-sm-auto">
                          <div class="d-flex gap-1" *ngIf="selectValue.length > 0">
                            <ng-select placeholder="{{ 'OTHERS.text1' | translate }}" [items]="selectValue" bindLabel="name" [multiple]="true" [(ngModel)]="filter_column" (change)="filter_fees()"></ng-select>
                          </div>
                      </div>
                      <div class="col-sm">
                          <div class="d-flex justify-content-sm-end">
                              <div class="search-box ms-2">
                                  <input type="text" class="form-control search" placeholder="{{ 'OTHERS.text2' | translate }}..." [(ngModel)]="filter_keyword" (keyup)="filter_fees()">
                                  <i class="ri-search-line search-icon"></i>
                              </div>
                              <!-- <div class="search-box ms-2">
                                <button type="button" class="btn btn-primary btn-add f-right add-btn-width">Add</button>
                              </div> -->
                          </div>
                      </div>
                  </div>

                  <div class="table-responsive table-card mt-3 mb-1">
                      <table class="table ">
                        <thead>
                            <tr class="tr-section text-primary">
                                <th width="" >{{ 'FEE_CONFIGURATION.text2' | translate }}</th>
                                <th width="" >{{ 'FEE_CONFIGURATION.text3' | translate }}</th>
                                <!-- <th width="" class="text-right">Percentage</th> -->
                                <th width="" class="text-right">{{ 'FEE_CONFIGURATION.text4' | translate }}</th>
                                <th width="" >{{ 'FEE_CONFIGURATION.text5' | translate }}</th>
                                <!-- <th width="" >Updated Date</th> -->
                                <th width="" *ngIf="access.permissions['Fee Configuration'] && access.permissions['Fee Configuration'].includes('E')">{{ 'FEE_CONFIGURATION.text6' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let data of filtered_feeList" [hidden]="data.key > pager.end || data.key < pager.start">
                            <td width="">{{ ( data.FeeId ? data.FeeId : '-' ) }}</td>
                            <td width="">{{ ( data.TransactionDescription ? data.TransactionDescription : '-' ) }}</td>
                            <!-- <td width="" class="text-right">{{ ( data.FeePercentage ? data.FeePercentage : '-' ) }}</td> -->
                            <td width="" class="text-right">{{ data.FeeAmount | currency }}</td>
                            <td width="">{{ ( data.CreateDate ? data.CreateDate : '-' ) }}</td>
                            <!-- <td width="">{{ ( data.UpdateData ? data.UpdateData : '-' ) }}</td> -->
                            <td width="5%" class="text-center" *ngIf="access.permissions['Fee Configuration'] && access.permissions['Fee Configuration'].includes('E')"><button class="btn bg-transparent btn-sm" (click)="openModal(content, data)"> <img src="./assets/icon-edit.png" width="16"> </button></td>
                        </tr>

                        </tbody>
                      </table>
                  </div>

                  <div class="row justify-content-md-between align-items-md-center">
                    <div class="col col-sm-6">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            <div class="paginate-info">{{ 'OTHERS.text3' | translate }} <span>{{pager.start}}</span> {{ 'OTHERS.text4' | translate }} <span>{{pager.end}}</span> {{ 'OTHERS.text5' | translate }} <span>{{filtered_feeList.length}}</span> {{ 'OTHERS.text6' | translate }}</div>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="text-sm-right float-sm-end listjs-pagination">
        
                        <div class="paginate" *ngIf="filtered_feeList.length!=0">
                            
                            <div class="paginate-pages" *ngIf="pager.pages.length > 1">
                              <div class="paginate-page " (click)="setPage(pager.page-1, $event)"><span>◄</span></div>
                              <div class="paginate-page {{ page==pager.page ? 'current' : '' }}" (click)="setPage(page, $event)" *ngFor="let page of pager.limited_page" ><span>{{page}}</span></div>
                              <div class="paginate-page " (click)="setPage(pager.page+1, $event)"><span>►</span></div>
                            </div>
                        </div>

                        </div>
                    </div>
                  </div>


              </div>
          </div><!-- end card -->
      </div>
      <!-- end col -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title">{{ 'FEE_CONFIGURATION.text7' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form>
        <div class="modal-body">
            <div class="mb-2">
                <label class="form-label">{{ 'FEE_CONFIGURATION.text8' | translate }}</label>
                <input type="text" class="form-control" readonly [(ngModel)]="active.description" [ngModelOptions]="{standalone:true}" />
            </div>

            <div class="mb-2">
                <div class="row">
                    <!-- <div class="col">
                        <label class="form-label">Percentage</label>
                        <input type="text" class="form-control" readonly [(ngModel)]="active.percentage" [ngModelOptions]="{standalone:true}" />
                    </div> -->
                    <div class="col">
                        <label class="form-label">{{ 'FEE_CONFIGURATION.text4' | translate }}</label>
                        <input type="tel" class="form-control" placeholder="$0" 
                        (keypress)="numbersOnly($event)" maxlength="12" 
                        [(ngModel)]="active.amount" [ngModelOptions]="{standalone: true}" 
                        onPaste="return false" onDrop = "return false" autocomplete=off >
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">{{ 'FEE_CONFIGURATION.text9' | translate }}</button>
                <button type="submit" class="btn w-50 btn-primary"
                [disabled]="!active.amount"
                (click)="process_fee()"
                >{{ 'FEE_CONFIGURATION.text10' | translate }}</button>
            </div>
        </div>
    </form>
  </ng-template>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>