<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
      <!-- Dark Logo-->
      <a routerLink="/dashboard" class="logo logo-dark">
          <span class="logo-sm">
              <img src="assets/images/logo-icon-only.png" alt="" height="35">
          </span>
          <span class="logo-lg">
              <img src="assets/images/logo-light.svg" alt="" height="50">
          </span>
      </a>
      <!-- Light Logo-->
      <a routerLink="/dashboard" class="logo logo-light">
          <span class="logo-sm">
              <img src="assets/images/logo/logo-icon-only.png" alt="" height="35">
          </span>
          <span class="logo-lg">
              <img src="assets/images/logo/logo-dark.svg" alt="" height="50">
          </span>
      </a>
      <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover" (click)="toggleMobileMenu($event)">
          <i class="ri-record-circle-line"></i>
      </button>
  </div>

  <div id="scrollbar">
      <div class="container-fluid">
          <div id="two-column-menu">
          </div>
          <ngx-simplebar class="sidebar-menu-scroll" style="max-height: calc(100vh - 70px)">
          <ul class="metismenu list-unstyled navbar-nav" id="navbar-nav">
            <ng-container *ngIf="access.permissions['Dashboard'] && access.permissions['Dashboard'].includes('R')">
              <li class="nav-item mt-2">
                <a [routerLink]="'/dashboard'" class="side-nav-link-ref nav-link menu-link" routerLinkActive="active">
                  <i class="bx ri-home-4-line icon nav-icon"></i>
                  <span class=""> {{ 'SIDEBAR.text1' | translate }}</span>
                </a>
              </li>
            </ng-container>
          </ul>
          </ngx-simplebar>
      </div>
      <!-- Sidebar -->
  </div>
  <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay" (click)="SidebarHide()"></div>