textarea {
  resize: none;
}

.left-header-container {
  float: left;
  border-radius: 4px;
  // margin: 1rem 1rem;
  z-index: 10;
}
.right-header-container {
  float: right;
  border-radius: 4px;
  // margin: 1rem 1rem; 
  z-index: 10;

  .a-link {
      padding-right: 1rem;
  }
}

.upload-container {
  border: 0.5px dashed #B8B8B8;
  border-radius: 4px;
  width: 100%;
  min-height: 12.125rem;

  .choose-file {
    color: #232B39;
  }
}